<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AcapellaBot BLE Dispatcher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>141DF3D51F2E1A2100AC3EAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>141DF3E61F2E1A2100AC3EAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>141DF3F11F2E1A2100AC3EAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
